@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
/* ## Layout - Mobile: 375px- Desktop: 1440px */
/* ## Colors */
:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --Light-Grayish-Blue: hsl(210, 46%, 95%);
  /* ## Typography */
  --body-font-size: 13px;
  --font: "Manrope", sans-serif;
  --bold-500: 500;
  --bold-700: 700;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: var(--Light-Grayish-Blue);
  display: flex;
  align-items: center;
  font-family: var(--font);
}

.card {
  background-color: #ffffff;
  margin: 4.5rem 1.5rem;
  border-radius: 1rem;
}

.card__img {
  width: 100%;
  height: 12.75rem;
  object-fit: cover;
  object-position: 100% 0;
  border-radius: 1rem 1rem 0 0;
}

.card__content {
  line-height: 1.5;
}
.card__content .wrapper {
  max-width: 84%;
  margin: 0 auto;
  padding-bottom: 20px;
}
.card__content h1 {
  color: var(--Desaturated-Dark-Blue);
  font-size: 1rem;
  font-weight: var(--bold-700);
  padding-top: 1rem;
}
.card__content p {
  color: var(--Grayish-Blue);
  font-size: var(--body-font-size);
  font-weight: var(--bold-500);
  padding-top: 0.75rem;
}

.share > .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.share .avatar,
.share .btn {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  outline: none;
}

.share .btn {
  color: var(--Grayish-Blue);
  background-color: var(--Light-Grayish-Blue);
  width: 2.5rem;
}

.share .card__profile {
  font-size: var(--body-font-size);
}

.share .name {
  color: var(--Grayish-Blue);
  font-weight: var(--bold-700);
  line-height: 0.75;
}

.share .date {
  color: var(--Grayish-Blue);
  font-weight: var(--bold-500);
  line-height: 0;
}

.share .share-links {
  display: none;
}
.share .share-links p {
  letter-spacing: 5px;
}

.share .share-links img {
  height: 1.25rem;
  max-width: 1.25rem;
}
.share.active {
  background-color: var(--Very-Dark-Grayish-Blue);
  border-radius: 0 0 1rem 1rem;
}

.share.active .avatar {
  display: none;
}

.share.active .share-links {
  display: flex;
  font-size: 1rem;
  color: var(--Grayish-Blue);
  align-items: center;
}

.share.active .card__profile {
  display: none;
}

.share .share-links > .share__link {
  padding-left: 1rem;
  display: flex;
  align-self: center;
}

.share__link:hover {
  cursor: pointer;
}
.btn:hover {
  cursor: pointer;
  background-color: var(--Grayish-Blue);
}

@media (min-width: 700px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    display: flex;
    border-radius: 1rem 1rem 1rem 1rem;
    max-width: 45.625rem;
  }

  .card__img {
    max-width: 17.75rem;
    max-height: 17.8rem;
    height: 100%;
    object-fit: cover;
    object-position: 100% 0;
    border-radius: 1rem 0 0 1rem;
  }

  .card__content {
    max-width: 27.75rem;
    padding-block: 1.25rem;
  }
  .card__content .wrapper {
    max-width: 82%;
    /* padding-block: 0; */
  }

  .card__content h1 {
    font-size: 1.25rem;
    padding-top: 0;
    line-height: 1.2;
  }

  .card__content p {
    font-size: 1rem;
    line-height: 1.2;
  }
  .share.active {
    background-color: transparent;
  }
  .share > .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .share.active .avatar {
    display: block;
  }

  .share .card__profile {
    margin-left: 1rem;
    width: 100%;
  }

  .share.active .card__profile {
    display: block;
    flex-direction: column;
    margin-right: -15rem;
  }
  .share.active .share-links {
    position: relative;
    display: flex;
    background-color: var(--Very-Dark-Grayish-Blue);
    bottom: 2.5rem;
    margin-top: -2.5rem;
    left: 7rem;
    padding: 0.8rem 1.6rem;
    border-radius: 0.5rem;
  }
  #shareBtn {
    margin-left: auto;
    display: block;
    height: 2.5rem;
    width: 3rem;
  }

  .share.active .share-links::after {
    content: "";
    margin-bottom: -1rem;
    width: 1.6rem;
    height: 1rem;
    /* background-color: red; */
    position: relative;
    top: 2rem;
    right: 5rem;
    /* margin-right: -5rem; */
    border-left: 1.25rem solid transparent;
    border-right: 1.25rem solid transparent;
    border-top: 1.25rem solid var(--Very-Dark-Grayish-Blue);
    margin-right: -2rem;
  }
}
